:root {
  --error-color: #f74e62;
  --hover-button-color: #30c0b9;
  --selected-button-color: #3066be;
  --success-color: #03c988;
}

.buttonStyle {
  border: 2px solid;
  border-color: white;
  border-radius: 4px;
  padding: 4px;
}

.buttonStyle:hover {
  background-color: var(--hover-button-color);
  border-color: var(--hover-button-color);
  color: white;
}

.buttonStyle:active {
  background-color: white;
  color: var(--hover-button-color);
}

#canvas {
  border: solid black 4px;
}

.errorStyle {
  background-color: var(--error-color);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.selectedButtonStyle {
  background-color: var(--selected-button-color);
  color: white;
  padding: 4px;
}

.successStyle {
  background-color: var(--success-color);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
}
